<div class="container">
    <mat-card>
        <div class="card" [formGroup]="bookmarkForm">
            <div class="firstRow">
                <mat-card-header>
                    <mat-card-title>{{name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                </mat-card-content>
            </div>
            <div class="secondRow">
                <mat-card-header>
                    <mat-card-title>Type bookmark name and description</mat-card-title>
                    <img class="bookmarkIcon" src="../../assets/bookmark.png">
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" formControlName="description">
                        </mat-form-field>
                </mat-card-content>
                <mat-card-footer class="card-footer">
                    <button mat-flat-button (click)="createBookmark()" color="primary" [disabled]="!bookmarkForm.valid">{{buttonTitle}}</button>
                </mat-card-footer>
            </div>
        </div>
      </mat-card>
</div>



