<div class="container">
    <mat-card>
        <div class="card">
            <div class="title">
                <mat-card-title class="name">Confirm action</mat-card-title>
            </div>
            <div class="inputElement">
                <div class="secondRow">
                    <div class="title">Are you sure you want to confirm?</div>
                    <mat-card-footer class="card-footer">
                        <button mat-raised-button (click)="close()">No</button>
                        <button mat-flat-button color="primary" (click)="confirm()">Yes</button>
                    </mat-card-footer>
                </div>
            </div>
        </div>
    </mat-card>
</div>