@import '../../../variables.scss';

.container {
    background-color: $color-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    .title{
        color: white;
        cursor: pointer;
    }
    mat-form-field{
        flex-direction: unset;
        width: 350px;
        padding: 10px;
    }
    .filter{
        margin-left: 45%;
    }
    .createIcon{
        color: #ffffff;
        cursor: pointer;
        &:hover{
            color:#86878c
        }
    }
}